# 4. 데이터프레임 합치기

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'a':['a0','a1','a2'],
                   'b':['b0','b1','b2'],
                   'c':['c0','c1','c2']},
                  index = [0,1,2])
df2 = pd.DataFrame({'a':['a1','a2','a3'],
                   'b':['b1','b2','b3'],
                   'c':['c1','c2','c3'],
                   'd':['d1','d2','d3']},
                   index=[1,2,3])
print(df1)
print()
print(df2)

In [ ]:
# 연결(concat)
result1 = pd.concat([df1,df2])
result1

In [ ]:
result2 = pd.concat([df1,df2], ignore_index=True)
result2

In [ ]:
result3 = pd.concat([df1,df2], axis = 1)
result3

In [ ]:
result3_in = pd.concat([df1,df2], axis = 1, join='inner')
result3_in

In [ ]:
# 병합(merge)
merge_inner = pd.merge(df1,df2) # df1과 df2의 공통 열인 a열,b,열,c열을 기준으로 병합 
# merge()함수 기본 값 : on=None, how=‘inner’

merge_inner

In [ ]:
merge_outer = pd.merge(df1,df2,how='outer',on='c') # how= 'outer': 기준이 되는 ‘c’열의 데이터가 한 쪽에만 속하더라도 포함
merge_outer

In [ ]:
merge_left = pd.merge(df1, df2, how='left', on='c') # how=‘left’ 옵션 : 왼쪽 데이터프레임 키열에 속하는 데이터 값을 기준으로 병합
merge_left

In [ ]:
# 연결(join): 행 인덱스를 기준으로 결합
import pandas as pd
df1 = pd.DataFrame({'a':['a0','a1','a2'],
                   'b':['b0','b1','b2'],
                   'c':['c0','c1','c2']},
                  index = [0,1,2])
df2 = pd.DataFrame({'e':['e1','e2','e3'],
                   'f':['f1','f2','f3'],
                   'g':['g1','g2','g3'],
                   'h':['h1','h2','h3']},
                   index=[1,2,3])

df3 = df1.join(df2)
df3

# 5. 데이터프레임의 연산

In [ ]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','fare']]
print(df.head())
print()
print(type(df))
print()

addition = df + 10
print(addition.head())
print()
print(type(addition))

In [ ]:
substraction = addition - df
print(substraction.head())

In [ ]:
# 그룹 객체 만들기
titanic_groupby = titanic.groupby('pclass').count()
titanic_groupby

In [ ]:
titanic_groupby = titanic.groupby('pclass')[['sex','age']].count()
titanic_groupby

In [ ]:
# 그룸 연산 메서드
titanic.groupby('pclass')['age'].agg([max,min])

In [ ]:
agg_format = {"age":"max","sibsp":"sum","fare":"mean"}
titanic.groupby('pclass').agg(agg_format)

In [ ]:
# group 객체.transform(매핑 함수)
def minusmean(x):
    return x - x.mean()

grouped = titanic.groupby(['pclass'])
age_minusmean = grouped.age.transform(minusmean)
print(age_minusmean.loc[0:4])