# 파산한 은행의 개수 계산하기

In [1]:
import pandas as pd
banks = pd.read_csv('banklist.csv') 
print(banks.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Bank Name              555 non-null    object
 1   City                   555 non-null    object
 2   ST                     555 non-null    object
 3   CERT                   555 non-null    int64
 4   Acquiring Institution  555 non-null    object
 5   Closing Date           555 non-null    object
 6   Updated Date           555 non-null    object
dtypes: int64(1), object(6)
memory usage: 30.5+ KB
None

1. Closing Date, Update Date열의 데이터 자료형이 문자열이므로, datetime64형으로 변환하여 banks로 다시 불러오세요

In [2]:
# 답
banks = pd.read_csv('banklist.csv', parse_dates=[5, 6]) 
print(banks.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Bank Name              555 non-null    object
 1   City                   555 non-null    object
 2   ST                     555 non-null    object
 3   CERT                   555 non-null    int64
 4   Acquiring Institution  555 non-null    object
 5   Closing Date           555 non-null    datetime64[ns]
 6   Updated Date           555 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 30.5+ KB
None

2. 'Closing Date'열에 dt 접근자와 quarter 속성을 이용하여 은행이 파산한 연도를 'closing_year'로, 분기를 'closing_quarter'로 새로운 열에 추가하세요.

In [3]:
# 답
banks['closing_year'], banks['closing_quarter'] = (banks['Closing Date'].dt.year, banks['Closing Date'].dt.quarter)
banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date,closing_year,closing_quarter
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,2017-12-15,2017-12-20,2017,4
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,2017-10-13,2017-10-20,2017,4
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",2017-05-26,2017-07-26,2017,2
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,2017-05-05,2017-07-26,2017,2
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,2017-04-28,2017-12-05,2017,2

3.groupby 메서드를 사용하여 연도별로 파산한 은행의 개수를 구하세요.

In [4]:
# 답
banks.groupby(['closing_year'])['Bank Name'].count()
# 혹은 closing_year = banks.groupby(['closing_year']).size()

closing_year
2000      2
2001      4
2002     11
2003      3
2004      4
2007      3
2008     25
2009    140
2010    157
2011     92
2012     51
2013     24
2014     18
2015      8
2016      5
2017      8
Name: Bank Name, dtype: int64

4. groupby 메서드를 이용하여 연도별, 분기별로 파산한 은행의 개수를 구하세요.

In [5]:
# 답
banks.groupby(['closing_year', 'closing_quarter'])['Bank Name'].count()
# 혹은 banks.groupby(['closing_year', 'closing_quarter']).size()

closing_year  closing_quarter
2000          4                   2
2001          1                   1
              2                   1
              3                   2
2002          1                   6
              2                   2
              3                   1
              4                   2
2003          1                   1
              2                   1
              4                   1
2004          1                   3
              2                   1
2007          1                   1
              3                   1
              4                   1
2008          1                   2
              2                   2
              3                   9
              4                  12
2009          1                  21
              2                  24
              3                  50
              4                  45
2010          1                  41
              2                  45
              3                  41
              4                  30
2011          1                  26
              2                  22
              3                  26
              4                  18
2012          1                  16
              2                  15
              3                  12
              4                   8
2013          1                   4
              2                  12
              3                   6
              4                   2
2014          1                   5
              2                   7
              3                   2
              4                   4
2015          1                   4
              2                   1
              3                   1
              4                   2
2016          1                   1
              2                   2
              3                   2
2017          1                   3
              2                   3
              4                   2
Name: Bank Name, dtype: int64