#                                     Week3 - 복습과제

## 문제1.

### 문제 1-1.
#### bmi = 체중(kg) / 신장(m)²입니다. 이 공식을 바탕으로 체중을 계산하여 새로운 열(weight)로 추가한 후 소수점 아래 첫째 자리까지 반올림한 후 상위 10개 데이터를 출력해주세요.
#### 힌트 1) 데이터 속의 신장은 cm 단위이지만 bmi를 계산하기 위해서는 m 단위의 신장이 필요합니다.             
#### 힌트 2) 파이썬은 x의 y제곱을 x**y로 나타낼 수 있습니다.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('insurance.csv')

In [9]:
# 체중 = bmi * 신장
df['weight'] = df['bmi'] * df['height'] * 0.01
df['weight'].round(1).head(10)

0    44.4
1    60.1
2    60.7
3    40.9
4    50.5
5    43.0
6    47.5
7    42.2
8    52.8
9    39.3
Name: weight, dtype: float64

### 문제 1-2.
#### 체중을 5개의 구간으로 나눈 후 각 구간의 경계값을 출력해주세요. 또 각 경계값에 '완전 과체중, 과체중, 보통체중, 저체중, 과한 저체중' 다섯 개의 이름으로 저장한 후 체중과 경계값의 첫 15개 행을 함께 출력해주세요.

In [27]:
count, bin_dividers = np.histogram(df['weight'], bins = 5)
print(count) # 경계값 개수
print(bin_dividers) # 경계값

df['범주'] = pd.cut( df['weight'],
                     bins = bin_dividers,
                     labels = ['완전 과체중', '과체중', '보통체중', '저체중', '과한 저체중'],
                     include_lowest = True)

print(df[['weight','범주']].head(15))

[239 664 369  63   3]
[ 25.4486  40.7608  56.073   71.3852  86.6974 102.0096]
     weight      범주
0   44.3610     과체중
1   60.1106    보통체중
2   60.7200    보통체중
3   40.8690     과체중
4   50.5400     과체중
5   42.9858     과체중
6   47.4848     과체중
7   42.1648     과체중
8   52.7991     과체중
9   39.2768  완전 과체중
10  45.8850     과체중
11  43.9043     과체중
12  61.9200    보통체중
13  57.3408    보통체중
14  80.4683     저체중

## 문제2.

### 문제 2-1.
#### insurance.csv파일 내 숫자형 데이터 피처의 평균과 분산을 확인하고 표준화를 진행해주세요! 
#### 표준화된 데이터 피처의 평균과 분산을 결과값으로 출력해주세요! StandardScaler를 활용해주세요! 1번에서 사용하신 df를 그대로 사용하시면 됩니다!

In [28]:
from sklearn.preprocessing import StandardScaler

In [57]:
print(df.mean())
print(df.std())

age            39.207025
bmi            30.663397
height        167.372197
children        1.094918
charges     13270.422265
weight         51.355685
dtype: float64
age            14.049960
bmi             6.098187
height         13.993926
children        1.205493
charges     12110.011237
weight         11.313880
dtype: float64

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   height    1338 non-null   int64
 4   children  1338 non-null   int64
 5   smoker    1338 non-null   object
 6   region    1338 non-null   object
 7   charges   1338 non-null   float64
 8   weight    1338 non-null   float64
 9   범주        1338 non-null   category
dtypes: category(1), float64(3), int64(3), object(3)
memory usage: 95.7+ KB

In [60]:
df_num = df.drop(['sex','smoker','region','범주'], axis = 1)
df_num

      age     bmi  height  children      charges   weight
0      19  27.900     159         0  16884.92400  44.3610
1      18  33.770     178         1   1725.55230  60.1106
2      28  33.000     184         3   4449.46200  60.7200
3      33  22.705     180         0  21984.47061  40.8690
4      32  28.880     175         0   3866.85520  50.5400
...   ...     ...     ...       ...          ...      ...
1333   50  30.970     167         3  10600.54830  51.7199
1334   18  31.920     173         0   2205.98080  55.2216
1335   18  36.850     144         0   1629.83350  53.0640
1336   21  25.800     166         0   2007.94500  42.8280
1337   61  29.070     140         0  29141.36030  40.6980

[1338 rows x 6 columns]

In [78]:
Scaler = StandardScaler()
Scaler.fit(df_num)
Scaled_df_num = Scaler.transform(df_num)
Scaled_df_num_df = pd.DataFrame(data = Scaled_df_num, columns = df_num.columns)

print(Scaled_df_num_df.mean())
print(Scaled_df_num_df.std())

age        -1.853691e-16
bmi        -1.869041e-16
height      5.814980e-16
children    2.721623e-17
charges    -5.758556e-17
weight     -4.360405e-16
dtype: float64
age         1.000374
bmi         1.000374
height      1.000374
children    1.000374
charges     1.000374
weight      1.000374
dtype: float64

### 문제 2-2.
#### insurance.csv파일 내 숫자형 데이터 피처의 정규화를 지시에 따라 진행해주세요! 정규화된 데이터 피처의 최댓값과 최솟값을 결과값으로 출력해주세요

#### 2-2-1.
#### MinMaxScaler로 정규화 작업을 진행해주세요

In [79]:
from sklearn.preprocessing import MinMaxScaler

In [87]:
Scaler = MinMaxScaler()
Scaler.fit(df_num)
Scaled_df_num = Scaler.transform(df_num)
Scaled_df_num_df = pd.DataFrame(data = Scaled_df_num, columns = df_num.columns)

print(Scaled_df_num_df.min())
print(Scaled_df_num_df.max())

age         0.0
bmi         0.0
height      0.0
children    0.0
charges     0.0
weight      0.0
dtype: float64
age         1.0
bmi         1.0
height      1.0
children    1.0
charges     1.0
weight      1.0
dtype: float64

#### 문제 2-2-2.
##### 각 열의 최댓값의 절대값으로 각 열 데이터를 나눠주는 방법으로 정규화 작업을 진행해주세요!

In [88]:
Scaled_df_num = df_num/abs(df_num.max())

print(Scaled_df_num.max())
print(Scaled_df_num.min())

age         1.0
bmi         1.0
height      1.0
children    1.0
charges     1.0
weight      1.0
dtype: float64
age         0.281250
bmi         0.300395
height      0.729167
children    0.000000
charges     0.017592
weight      0.249473
dtype: float64

#### 문제2-2-3.
##### 벡터 정규화를 진행해주세요! 정규화된 데이터 프레임의 Norm을 추가로 출력해주세요!

In [98]:
Scaled_df_num = df_num / np.linalg.norm(df_num)

print(Scaled_df_num.max())
print(Scaled_df_num.min())

np.linalg.norm(Scaled_df_num)

age         0.000097
bmi         0.000081
height      0.000292
children    0.000008
charges     0.097052
weight      0.000155
dtype: float64
age         0.000027
bmi         0.000024
height      0.000213
children    0.000000
charges     0.001707
weight      0.000039
dtype: float64

0.9999999999999999

## 문제3.

### 문제 3-1.
#### credit.csv 파일을 dataframe으로 읽은 후, unknown 값을 NaN으로 바꿔주세요.

In [99]:
import pandas as pd
import numpy as np

df = pd.read_csv('credit.csv')

In [103]:
df.replace('unknown',np.nan,inplace=True)

In [104]:
df

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,NaN,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,NaN,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,12,good,furniture/appliances,1736,< 100 DM,4 - 7 years,3,4,31,none,own,1,unskilled,1,no,no
996,< 0 DM,30,good,car,3857,< 100 DM,1 - 4 years,4,4,40,none,own,1,management,1,yes,no
997,NaN,12,good,furniture/appliances,804,< 100 DM,> 7 years,4,4,38,none,own,1,skilled,1,no,no
998,< 0 DM,45,good,furniture/appliances,1845,< 100 DM,1 - 4 years,4,4,23,none,other,1,skilled,1,yes,yes
999,1 - 200 DM,45,critical,car,4576,100 - 500 DM,unemployed,3,4,27,none,own,1,skilled,1,no,no

### 문제 3-2.
#### 각 column의 누락 데이터 수를 확인(try & except문) 한 후에, checking_balance 누락 값은 해당 열에서 가장 많이 나타나는 값으로 바꾸고, savings_balance 누락 값은 이웃하고 있는 바로 다음 행 값으로 바꾼다.

In [112]:
df.isna().sum()

checking_balance        394
months_loan_duration      0
credit_history            0
purpose                   0
amount                    0
savings_balance         183
employment_duration       0
percent_of_income         0
years_at_residence        0
age                       0
other_credit              0
housing                   0
existing_loans_count      0
job                       0
dependents                0
phone                     0
default                   0
dtype: int64

In [140]:
df['checking_balance'].value_counts()

< 0 DM        274
1 - 200 DM    269
> 200 DM       63
Name: checking_balance, dtype: int64

In [143]:
df['checking_balance'].value_counts().index[0]

'< 0 DM'

In [144]:
df['checking_balance'].fillna(df['checking_balance'].value_counts().index[0], inplace = True)
df['savings_balance'].fillna(method = 'bfill', inplace = True)

In [145]:
df

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,< 100 DM,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,< 0 DM,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,< 0 DM,12,good,furniture/appliances,1736,< 100 DM,4 - 7 years,3,4,31,none,own,1,unskilled,1,no,no
996,< 0 DM,30,good,car,3857,< 100 DM,1 - 4 years,4,4,40,none,own,1,management,1,yes,no
997,< 0 DM,12,good,furniture/appliances,804,< 100 DM,> 7 years,4,4,38,none,own,1,skilled,1,no,no
998,< 0 DM,45,good,furniture/appliances,1845,< 100 DM,1 - 4 years,4,4,23,none,other,1,skilled,1,yes,yes
999,1 - 200 DM,45,critical,car,4576,100 - 500 DM,unemployed,3,4,27,none,own,1,skilled,1,no,no

## 문제4.
### credit데이터를 불러와서 원-핫인코딩하기

### 4-1. credit 데이터의 'credit_history'피처를 사이킷런의 머신러닝알고리즘을 통해 인코딩해보세요

#### 4-1-1. 먼저, 숫자값으로의 변환을 위해 레이블인코딩하기

* credit_data에 파일을 불러온 뒤 credit_data1에 'credit_history'피처만 저장 후 인코딩
* 어떤 데이터가 어떻게 인코딩되었는지 나타내기(classes_ 사용하세요)
* 변환된 데이터 값 출력

In [162]:
from sklearn.preprocessing import LabelEncoder
Encoder = LabelEncoder()

credit_data = pd.read_csv('credit.csv')
credit_data1 = credit_data['credit_history']

Encoder.fit(credit_data1)
labels = Encoder.transform(credit_data1)

print(Encoder.classes_)

['critical' 'good' 'perfect' 'poor' 'very good']

#### 4-1-2. 원핫인코딩 하기

* 변환된 데이터값 출력
* 원본데이터가 몇 행 몇 열의 데이터로 변환되었는지 나타내기

In [170]:
from sklearn.preprocessing import OneHotEncoder
Encoder = OneHotEncoder()

labels = labels.reshape(-1,1)

Encoder.fit(labels)
one_hot_ecoding_labels = Encoder.transform(labels)
one_hot_ecoding_labels.toarray()

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       ...,
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.]])

In [173]:
one_hot_ecoding_labels.shape

(1000, 5)

### 4-2. credit 데이터의 'default'피처를 판다스 API를 통해 인코딩해보세요

In [186]:
c_d = credit_data['default']
pd.get_dummies(c_d)

     no  yes
0     1    0
1     0    1
2     1    0
3     1    0
4     0    1
..   ..  ...
995   1    0
996   1    0
997   1    0
998   0    1
999   1    0

[1000 rows x 2 columns]